<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>templete2</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles3.css" />
  </head>
  <body>
    <div class="main">
      <div class="top-section">
        <img class="profile" src="images/blank-pfp.png" />
        <p class="p1">{{firstName}} <span>{{lastName}}</span></p>
      </div>

      <dic class="clearfix"></dic>

      <div class="col-div-4">
        <div class="content-box" style="padding-left: 40px">
          <p class="head">Contact</p>
          <p class="p3">
            <i class="fa fa-phone"></i>&nbsp;&nbsp;{{phoneNumber}}
          </p>
          <p class="p3"><i class="fa fa-envelope"></i>&nbsp;&nbsp;{{email}}</p>
          <p class="p3">
            <i class="fa fa-home"></i>&nbsp;&nbsp;{{city}}, {{street}},
            {{streetNumber}}, {{zipCode}}, {{country}}
          </p>

          <br />

          <p class="head">Skills</p>
          <ul class="skills">
            {{#each skills}}
            <li><span>{{name}}</span></li>
            {{/each}}
          </ul>

          <br />
          {{#each hobbies}}
          <p class="head">Hobbies</p>
          <p class="p3">{{this}}</p>
          <p class="p3">Music</p>
          {{/each}}
          <br />
        </div>
      </div>
      <div class="line"></div>
      <div class="col-div-8">
        <div class="content-box">
          <p class="head">Profile</p>
          <p class="p3" style="font-size: 14px">
            Vivamus semper scelerisque magna, eget efficitur odio iaculis
            blandit. Integer a ex sed augue posuere facilisis. <br />Nullam sed
            mi sed orci pretium interdum vitae sed erat. Proin ac tincidunt
            purus, tempus efficitur quam. Nulla non massa lorem. Nunc ac diam
            viverra mi viverra scelerisque.
          </p>

          <br />
          <p class="head">Experience</p>
          {{#each experiences}}
          <p>
            {{jobTitle}} {{employer}} {{startMonth}} {{startYear}} -
            {{endMonth}} {{endYear}}
          </p>
          <p class="p-4">{{jobDescription}}</p>
          {{/each}}
          <br />
          <p class="head">education</p>
          {{#each education}}
          <p class="p-4">
            {{degree}} - {{school}} {{city}} {{startMonth}} {{startYear}} -
            {{endMonth}} {{endYear}}
          </p>
          {{/each}}
        </div>
      </div>
    </div>
  </body>
</html>
